html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
  padding: .5em 0 0;
  margin: 0 0 .7rem;
}

.left {
  float: left;
  width: 40px;
  max-width: 100%;
}

.right {
  float: right;
  width: 40px;
  max-width: 100%;
}

h1 {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  float: left;
  width: 33.33%;
}

nav a {
  display: inline-block;
  margin: .3rem;
  padding: .4rem 0;
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
  border: 1px solid #a63f38;
}

nav a:hover {
  background-color: #a63f38;
}
